
body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #606060;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-y: scroll;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

.btn-primary {

  font-size: 14px;
  

  background-color: #deb666;
  border-color: #b69854;
  color: #fff;

  &:hover {
    background-color: #b69854;
    border-color: #deb666;
  }

}

html,
body {
  height: 100%;
}

.vh100 {
  height: 100vh;
}

.page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
