<template>
  <div v-editable="blok" class="container">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" :src="imageUrl(blok.Image, '')" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ blok.Title }}</h5>
        <p
          class="card-text"
           v-html="$md.render(blok.Textarea)"
        >}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok'],
  methods: {
    imageUrl(url, size) {
      let path = url.replace('//a.storyblok.com', '')
      return '//img2.storyblok.com/' + size + path.replace('https:', '')
    }
  }
}
</script>
