<template>
  <div v-editable="blok">
    <div
      class="herobanner"
      :style="{ backgroundImage: 'url(' + imageUrl(blok.Background, '1920x0') + ')'}"
    >
      <div class="gradient">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <div class="textcontainer">
                <div class="title">{{ blok.Title }}</div>
                <div class="heroinfotext" v-html="$md.render(blok.Info)"></div>
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img
                        src="https://a.storyblok.com/f/62007/209x50/ef703199cb/btn-freewifi.jpg"
                        class="img-fluid"
                        alt
                      />
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img
                        src="https://a.storyblok.com/f/62007/209x50/f4c9b9c8da/btn-freecable.jpg"
                        class="img-fluid"
                        alt
                      />
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img
                        src="https://a.storyblok.com/f/62007/209x50/92491e7d11/btn-restaunranti.jpg"
                        class="img-fluid"
                        alt
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="bookform">
                <div class="formheader">BOOK YOUR STAY</div>
                <div class="formbody">
                  <form>
                    <div class="form-group">
                      <label for="fromDateInput">Check In</label>
                      <input
                        type="date"
                        class="form-control"
                        id="fromDateInput"
                        aria-describedby="fromDateInput"
                        placeholder="Select date"
                      />
                    </div>
                    <div class="form-group">
                      <label for="tillDateInput">Check Out</label>
                      <input
                        type="date"
                        class="form-control"
                        id="tillDateInput"
                        aria-describedby="tillDateInput"
                        placeholder="Select date"
                      />
                    </div>
                    <button type="submit" class="btn form-control btn-primary">CHECK AVAILABILITY</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok'],
  methods: {
    imageUrl(url, size) {
      let path = url.replace('//a.storyblok.com', '')
      return '//img2.storyblok.com/' + size + path.replace('https:', '')
    }
  }
}
</script>

<style lang="scss" scoped>
.herobanner {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  margin-bottom: 50px;

  .textcontainer {
    position: relative;
    top: 30vh;
    color: #fff;

    .title {
      white-space: nowrap;
      font-size: 38px;
      line-height: 38px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .heroinfotext {
      white-space: pre-wrap;

      &:before {
        content: "* * * * *";
    }

    }
  }

  .bookform {
    position: relative;
        top: 30vh;
    background-color: #fff;

    .formheader {
      background-color: #efefef;
      text-align: center;
      padding: 5px;
      font-weight: bold;
      color: #606060;
    }

    .formbody {
      padding: 20px;
      font-size: 14px;
    }
    
  }

  .gradient {
    background: #00b4db;
    background: -webkit-linear-gradient(
      to right,
      rgba(222, 97, 97, 0.65),
      rgba(38, 87, 235, 0.65)
    );
    background: linear-gradient(
      to right,
      rgba(222, 97, 97, 0.65),
      rgba(38, 87, 235, 0.65)
    );
    height: 100vh;
  }
}
</style>

