<template>
  <div v-editable="blok">
    <div
      class="pagebanner"
      :style="{ backgroundImage: 'url(' + imageUrl(blok.Background, '1920x0') + ')'}"
    >
    <div class="gradient">
    </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['blok'],
  methods: {
    imageUrl(url, size) {
      let path = url.replace('//a.storyblok.com', '')
      return '//img2.storyblok.com/' + size + path.replace('https:', '')
    }
  },
  created: function() {
    console.log(this.blok)
  }
}
</script>

<style lang="scss" scoped>
.pagebanner {
  background-size: cover;
  background-position: center center;
  height: 150px;
  margin-bottom: 20px;
 
.gradient {
    background: #00b4db;
    background: -webkit-linear-gradient(
      to right,
      rgba(222, 97, 97, 0.65),
      rgba(38, 87, 235, 0.65)
    );
    background: linear-gradient(
      to right,
      rgba(222, 97, 97, 0.65),
      rgba(38, 87, 235, 0.65)
    );
    height: 150px;
  }

}
</style>

