<template>
    <section v-editable="blok" :style="{'background-color': blok.backgroundcolor.color}">
        <div class="container">
            <component :key="blok._uid" v-for="blok in blok.body" :blok="blok" :is="blok.component | dashify"></component>
        </div>
    </section>
</template>

<script>
export default {
  props: ['blok']
  }
</script>

<style lang="scss">
    section {
        margin-top: 40px;
        padding: 40px 0px;
    }
</style>

