<template>
<div class="container" v-editable="blok">
  <div v-bind:style="{ 'text-align': blok.TextAlignment }" v-html="$md.render(blok.Content)"></div>
</div>
</template>

<script>
export default {
  props: ['blok'],
    created: function() {
  }
}
</script>

<style lang="scss" scoped>
  .container {
    overflow-x: hidden;
  }


</style>

