<template>
<div class="container" v-editable="blok">
  <div class="titleheader">
      <h1 v-if="blok.HeaderType == 'h1'">{{ blok.Title }}</h1>
      <h2 v-else-if="blok.HeaderType == 'h2'">{{ blok.Title }}</h2>
      <h3 v-else-if="blok.HeaderType == 'h3'">{{ blok.Title }}</h3>
      <h4 v-else-if="blok.HeaderType == 'h4'">{{ blok.Title }}</h4>
      <h5 v-else-if="blok.HeaderType == 'h5'">{{ blok.Title }}</h5>
  </div>
</div>
</template>

<script>
export default {
  props: ['blok']
}
</script>
