<template>
  <div>
    <header id="header">
      <div class="container headerwrapper">
        <design-topmenu />
      </div>
    </header>
    <nuxt class="page-content" />
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  head: {
    bodyAttrs: {
      class: 'd-flex flex-column'
    }
  },
  methods: {
    handleSCroll(event) {
      let header = document.querySelector('header')
      if (window.scrollY > 100 && !header.className.includes('scrolled')) {
        header.classList.add('scrolled')
      } else if (window.scrollY < 100) {
        header.classList.remove('scrolled')
      }
    }
  },
  created() {
    if (process.browser) {
      window.addEventListener('scroll', this.handleSCroll)
    }
  }
}
</script>


<style lang="scss">
header {
  position: fixed;
  top: 0px;
  height: 75px;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  transition: height 0.4s ease;

  .headerwrapper {
    display: flex;
    height: 100%;
  }

  &.scrolled {
    transition: height 0.4s ease;
    background-color: #fff;
    height: 50px;
    color: #000 !important;

    .nav-link, .navbar-brand {
      color: #000 !important;
    }

  }
}
</style>
