<template>
  <nav class="navbar navbar-expand-lg navbar-dark" style="width: 100%">
    <nuxt-link class="navbar-brand" to="/">DEMO SITE</nuxt-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" v-for="menuitem in menu" :key="menuitem.id">
          <nuxt-link class="nav-link" :to="rootUrl(menuitem.Link.cached_url)">{{menuitem.MenuTitle}}</nuxt-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  data: function() {
    return {
      menu: []
    }
  },
  created: function() {
    this.menu = this.$store.state.siteStories.filter(c => c.name == 'topmenu')[0].content.Menulinks
    console.log(this.menu)
  },
  methods: {
    rootUrl(path) {
      return "/" + path
    }
  }
}
</script>
